# Dictionary

In [24]:
d = {"name": "p", "age": 23, "address":"xxx"}
d

{'name': 'p', 'age': 23, 'address': 'xxx'}

In [25]:
new_d = d.copy()
new_d

{'name': 'p', 'age': 23, 'address': 'xxx'}

In [26]:
new_d2 = {}.fromkeys(["name", "age", "address"], "N/A")
new_d2

{'name': 'N/A', 'age': 'N/A', 'address': 'N/A'}

In [27]:
d.get("name")

'p'

In [28]:
d.get("NoKey", -100)

-100

In [29]:
for key, value in d.items():
    print(key, value)

name p
age 23
address xxx

In [30]:
# if the key does not exist, it adds the new key:value to the dict
print(d)
d.setdefault("phone", "1123")
d

{'name': 'p', 'age': 23, 'address': 'xxx'}

{'name': 'p', 'age': 23, 'address': 'xxx', 'phone': '1123'}

In [31]:
d.update({"ID": "g76", "city": "Hannover"})
d

{'name': 'p',
 'age': 23,
 'address': 'xxx',
 'phone': '1123',
 'ID': 'g76',
 'city': 'Hannover'}

# Tuple

In [32]:
t = 1,2,3,4,4
t

(1, 2, 3, 4, 4)

In [35]:
t2 = ('a',)
t2

('a',)

In [36]:
t3 = tuple("abcd7k")
t3

('a', 'b', 'c', 'd', '7', 'k')

In [37]:
t3[1]

'b'

In [38]:
t3[-2]

'7'

In [39]:
t3[1:3]

('b', 'c')

In [40]:
# !!! tuples are not mutable !!!
t3[2] = 20

TypeError: 'tuple' object does not support item assignment

In [43]:
for i in t3:
    print(i)

a
b
c
d
7
k

In [44]:
'k' in t3

True

In [45]:
t3.index('k')

5

In [47]:
t4 = 1,2,3

t3 + t4

('a', 'b', 'c', 'd', '7', 'k', 1, 2, 3)

In [48]:
tuple([1,2,3,4])

(1, 2, 3, 4)